    <div class="grid_10">
        <div class="post2">

		<%= form_for([@article, @article.comments.new]) do |f| %>
			<div class="partial_form">
				<%= f.label :name %><br />
				<%= f.text_field :name %><br />
				
				<%= f.label :email %><br />
				<%= f.text_field :email %><br>

                <%= f.label :body %><br />
				<%= f.text_area :body, :cols => 40, :rows => 3 %><br>
		    </div><br/>
	
			<div class="actions">
			<%= f.submit 'Add',class: "btn-red" %>
			</div>
		<% end %>