<div class="article">
    <h1 class="post_title">
      <%= link_to article.title, article %>
    </h1><br>

        <h3 class="post_details">
            Posted on <%= article.datereg %> by <span class="author"> john Doe <span> | <span class ="comments"><%= image_tag "convo.png" %> <%=  article.comments.count %> Comments</span>  
        </h3>
        <h3 class="loc_details">
        	<%= image_tag "location.png" %> <%= article.location %>
        </h3>

       <p class ="post_body">
          <%=truncate article.body, length: 320 %>
       </p>
       
       <%= link_to "read more" ,article %>
</div>
                                    
                                
                                        
                                        