<div class="content">
   
                            <div class="ads">
                              <%= ad_unit(:banner, "ca-pub-2898674254191377", {:slot => "2127616124"}) %>
                            </div>

                            <div class="grid_5  alpha">

                            <div class="pages">
                                <%= will_paginate @articles, class: " pagination pagination-mini grid_9"%>
                            </div>
                                
                                <div class="post">
                                   <%= render @articles %>
                                </div>

                            <div class="pages">
                                <%= will_paginate @articles, class: " pagination pagination-mini grid_9"%>
                            </div>

                            </div>

                             
                             <div class="grid_3 push_1 omega ">
                                <div class="aside_right">
                                    <div class="info">
                                      <h3>About me</h3>
                                      <p>I am Obed Lorisson, a beginner  Ruby, Rails, Javascript, etc., developer and all-around web nerd based out of cambria heights, New york. I'm developing awesome web applications as a freelancer.</p>

                                    </div>
                                    <div class="rss_feed">
                                        <%=image_tag "rss.png" %> <%= link_to "Subscribe to Rss feed"%>
                                    </div>
                                    <div class="twitter_feed">
                                        <%= image_tag "twitter.png" %> <%= link_to "follow me on twitter"%>
                                    </div>
                                    <div class="recents">
                                        <h3 class="recent_title"> Recents Posts</h3>
                                         <ul class="recent_list">
                                            <% @recent.each do |article| %>
                                                 <li>
                                                    <%= link_to article.title , article %>
                                                    
                                                 </li> 
                                            <%end%> 
                                        </ul>  
                                         
                                    </div>

                                    <div class="archive">
                                        <h3 class="recent_title"> Archives</h3>
                                        <% @post_months.sort.reverse.each do |month, posts| %>
                                            <h3 class="recent_title" ><%=h month.strftime("%B %Y") %></h3>
                                            <ul class= "recent_list">
                                                <%for article in @articles %>
                                                <li><%=h link_to article.title, article_path(article) %></li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                    </div>

                                      <%= ad_unit(:small_square, "ca-pub-2898674254191377", {:slot => "3045946124"}) %>
                                 

                                </div>

                            </div>

                            
               
                           
                    

     
			           
						

