<div class="container_12">
    <div class="grid_12">
        <div class=" grid_3 alpha">
                    <div class=" aside">
                        <h1 class="logo"><%=link_to image_tag("simplelogo.png"), root_path%> </h1>
                        <%if user_signed_in? %>
                        <h3 class="logo_sub"> by <%= current_user.name%></h3>
                        <%else%>
                        <h3 class="logo_sub">my daily blog</h3>
                        <%end%>
                    </div>
                    <div class="aside_menu">
                        <div class="category">
                            <h1 class="cat_title"> Categories</h1>
                            <ul class="cat_list">
                            <% @category.each do |c|%>
                                <li>
                                    <%= c.name %> <span>(<%=c.articles.size%>)</span>
                                <li/>
                            <%end%>

                            </ul>                            
                        </div>       
                    </div>
                </div>
                
                <div class="grid_9 omega">

                    <div class="grid_9">
                        <div class="header grid_9 ">
                            
                            <div class="grid_5 alpha">

                                <%= form_tag articles_path, :method => 'get' do %>
                                
                                    <%= text_field_tag :search, params[:search] %>
                                    <%= submit_tag "Search" , :name => nil, class: "btn-red"%>
                                  
                                <% end %>
                           
                            </div>

                            <div class="grid_3 push_1 omega">
                                <div class="nav_main">
                                  <ul>
                                     <%if user_signed_in? %>
                                        <li>
                                            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                                        </li>

                                        <li>
                                            <%= link_to "Admin", admin_path %>
                                        </li>
                                         
                                        <% else %>
                                           
                                        <li>
                                            <%= link_to "Login", new_user_session_path %>
                                        </li>

                                        <li>
                                            <%= link_to "Register", new_user_registration_path %>
                                        </li>
                                            
                                            
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                          
                        </div>
                        
                 
                        
                        
                        